body {
  font-family: "Lato", sans-serif;
}

@tailwind base;
@tailwind components;

.backgroundImage {
  background-size: cover;
  background-image: url("andrej-lisakov-3A4XZUopCJA-unsplash-new.jpg");

  background-repeat: no-repeat;
  transition-duration: 1s;
  @apply min-h-screen bg-bottom pt-14;
}

.listItem {
  color: white;

  padding: 5px 10px;
  border-radius: 15px;
  background: #586369;
  width: max-content;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.formText {
  @apply w-[29.0625rem] mx-auto  mb-8 shadow-md px-2 outline-none border-2  focus:border-gray-500 focus:border-2;
}

.button {
  @apply rounded-lg grid place-items-center leading-none text-base w-40 h-12 border-2 border-[#586369] text-center 
  hover:scale-105 hover:border-black;
}
@tailwind utilities;
