body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

@tailwind base;
@tailwind components;

.backgroundImage {
  background-size: cover;
  background-image: url("andrej-lisakov-3A4XZUopCJA-unsplash-new.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.listItem {
  color: white;

  padding: 5px 10px;
  border-radius: 15px;
  background: #586369;
  width: max-content;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
@tailwind utilities;
